<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/masthead') %>
  <div class="container">
    <p class="intro">Hier Briefwahlantrag ausfüllen <a href="/example.pdf" target="_blank">here</a>.</p>

    <form action="/sign" method="POST">
      <div class="form-row">
        <div class="form-label">
          <label for="company">Vorname</label>
        </div>
        <div class="form-field">
          <input type="text"
                 id="company"
                 name="company"
                 class="c-input"
                 size="40"
                 maxlength="100"
                 placeholder="<%= exampleData.company %>"
                 oninvalid="this.setCustomValidity('Please enter your company name.')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="role">Nachname</label>
        </div>
        <div class="form-field">
          <input type="text"
                 id="role"
                 name="role"
                 class="c-input"
                 size="40"
                 maxlength="100"
                 placeholder="<%= exampleData.role %>"
                 oninvalid="this.setCustomValidity('Please enter your name.')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="country">Fakultät</label>
        </div>
        <div class="form-field">
          <select id="country"
                  name="country"
                  class="c-select"
                  oninvalid="this.setCustomValidity('Please select the country your company operates in.')"
                  oninput="setCustomValidity('')"
                  required>
            <option value="" selected>Please select a country</option>
            <option>Digital Engineering Fakultä</option>
            <option>United States</option>
            <option>United States Minor Outlying Islands</option>
            <option>United States Minor Outlying Islands</option>
            <option>United States Minor Outlying Islands</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="name">Die Adresse an denen die Breifwahlunterlagen geschickt werden (Alles in eine Zeile: Z.Bsp. Musterstr. 123 / 12345 Potsdam)</label>
        </div>
        <div class="form-field">
          <input type="text"
                 id="name"
                 name="name"
                 class="c-input"
                 size="40"
                 maxlength="100"
                 placeholder="<%= exampleData.name %>"
                 oninvalid="this.setCustomValidity('Please enter your name.')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="email">Deine Uni Potsdam Mail Adresse</label>
        </div>
        <div class="form-field">
          <input type="email"
                 id="email"
                 name="email"
                 class="c-input"
                 size="40"
                 placeholder="<%= exampleData.email %>"
                 oninvalid="this.setCustomValidity('Please enter a valid email address.')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
        <p class="form-comment">PactMaker sends out a copy of the agreement, so be sure to use a real email address.</p>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label>Sign your name</label>
        </div>
        <div class="form-field">
          <button class="js-sig-reset sig-reset hidden"></button>
          <canvas class="js-sig-canvas sig" width="444" height="125"></canvas>
          <input type="hidden" class="js-sig" name="signature">
        </div>
      </div>

      <div class="form-submit">
        <input class="c-submit js-submit" type="submit" value="Sign Agreement" disabled>
      </div>
    </form>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
